@import url("fonts.css");
@import url("../css/reponsive.css");
.active {
  font-weight: bold;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}

body h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

body h2 {
  font-size: 3rem;
}

body h3 {
  font-size: 2.5rem;
}

body h4 {
  font-size: 2.0rem;
}

body h5 {
  font-size: 1.5rem;
}

/*--- navigation bar ---*/
.navbar {
  background: #f4f5f7;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px rgba(77, 75, 75, 0.301);
          box-shadow: 5px 5px rgba(77, 75, 75, 0.301);
}

.custom-toggler.navbar-toggler {
  border-color: #6d1818;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(113, 28, 27, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item > a {
  position: relative;
  color: #6d1818;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #504f4f;
}

.nav-item > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #8f8d8d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-link,
.navbar-brand {
  color: #6d1818;
  cursor: pointer;
  padding-left: 50px;
}

.nav-link:before {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #504f4f;
}

.img-fluid {
  max-width: 50px;
}

/*--- home section ---*/
#home {
  position: relative;
  height: 100vh;
}

#home.bg-img {
  background: url(../images/L1000994.jpg);
  background-color: #91918e;
  /* fallback color */
  background-attachment: fixed;
  background-size: cover;
}

#home.bg-img .overlay {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(143, 141, 141, 0.9);
}

#home span {
  font-weight: bold;
}

.landingText {
  z-index: 4;
  left: 50%;
  position: absolute;
  top: 45%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  text-align: center;
}

.landingText h1 {
  color: white;
  text-transform: uppercase;
}

.landingText p {
  color: white;
  font-size: 1.6rem;
  line-height: 1.5;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Contact me modal*/
.modal a {
  color: #fffdfd;
  font-size: 1.6rem;
}

.modal .btn-danger {
  background-color: #c43d3d;
}

/* Progress bar */
#skills label {
  padding-left: 20px;
  color: #6d1818;
  font-weight: bold;
}

#skills p {
  padding-left: 20px;
}

.progress {
  height: 35px;
  margin: 2rem;
}

.progress span {
  text-align: right;
  padding: 30px;
  color: #000;
  font-size: 1.1rem;
  font-family: "Roboto";
  -webkit-box-shadow: 5px 5px rgba(77, 75, 75, 0.301);
          box-shadow: 5px 5px rgba(77, 75, 75, 0.301);
}

.progress-bar {
  -webkit-transition: width 2.5s ease;
  transition: width 2.5s ease;
  width: 0;
}

/* CV section */
#CV {
  font-family: "Ubuntu";
}

#CV .h4BG {
  background-color: #e4e4e4;
}

#CV img {
  height: 25%;
  border: 2px solid #949191;
}

#CV .col-lg-4 {
  background-color: #e4e4e4;
  padding-top: 5%;
}

#CV .col-lg-8 {
  padding-top: 5%;
  padding-left: 5%;
}

#CV .col-lg-8 .title {
  padding-top: 10%;
}

#CV .col-lg-8 h4 {
  padding: 5px;
  vertical-align: middle;
  font-weight: bold;
}

#CV .col-lg-3 {
  padding-left: 5%;
}

/* ALl section */
section {
  width: 100%;
  padding-bottom: 5%;
}

/* Border in CV and portfolio */
.border {
  border: 2px solid #949191;
}

/* Tomt space i CV */
.divSpace {
  height: 200px;
}

.padding {
  padding-top: 30px;
}

.card {
  width: 80%;
}

/* Portfolio css animate*/
.portfolioContainer {
  padding-left: 10%;
}

.portfolioContainer h4,
.portfolioContainer span {
  color: white;
  font-weight: bold;
}

.portfolio-box .portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-box .portfolio-img img {
  max-width: 100%;
  height: auto;
}

.portfolio-box .portfolio-img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(250, 250, 250, 0);
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.portfolio-detail {
  background-color: #6b6868;
  opacity: 0;
  width: 100%;
  padding: 20px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.portfolio-box .portfolio-detail h4 {
  margin-bottom: 3px;
  color: #ffffff !important;
  font-weight: bold;
}

.portfolio-box .portfolio-detail p {
  color: #ffffff !important;
}

.portfolio-box:hover .portfolio-img:after {
  background: rgba(54, 64, 74, 0.7);
}

.portfolio-box:hover .portfolio-img > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio-box:hover .portfolio-detail {
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
}

/* Footer */
footer {
  background: #f4f5f7;
}

footer img {
  height: 50px;
}

footer a {
  color: black;
}

footer a:hover {
  color: #07689F;
  text-decoration: none !important;
}

footer a img:hover {
  border: 3px solid #b4b0b0;
  border-radius: 5px;
}

/* Reponsive */
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }
  body h1 {
    font-size: 3rem;
    line-height: 5.5rem;
  }
  body h2 {
    font-size: 1.5rem;
  }
  body h3 {
    font-size: 1rem;
  }
  body h4 {
    font-size: 0.5rem;
  }
  body h5 {
    font-size: 0.3rem;
  }
  .landingText {
    width: 90%;
    padding-top: 10px;
    padding-left: 10px;
  }
  .landingText p {
    font-size: 18px;
  }
  .landingText h1 {
    font-size: 22px;
  }
  .landingText h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    letter-spacing: 0.12em;
    word-spacing: 0.16em;
  }
  body h1 {
    font-size: 3rem;
    line-height: 5.5rem;
  }
  body h2 {
    font-size: 2.5rem;
  }
  body h3 {
    font-size: 2rem;
  }
  body h4 {
    font-size: 2.0rem;
  }
  body h5 {
    font-size: 1.5rem;
  }
  .landingText {
    top: 50%;
    left: 45%;
  }
  #CV img {
    height: 250px;
  }
  #CV h1 {
    font-size: 3.8rem;
  }
  #CV h4 {
    font-size: 2.0rem;
  }
  .bold {
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .landingText {
    top: 50%;
    left: 45%;
  }
  body h1 {
    font-size: 3rem;
    line-height: 5.5rem;
  }
  #CV img {
    height: 250px;
  }
  #CV h1 {
    font-size: 3.8rem;
  }
  #CV h4 {
    font-size: 2.0rem;
  }
  .bold {
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */